/* shared modifications */
/* body{
    padding: 5px 135px ;
    font: font-family: 'Mulish', sans-serif;
} */

.orange-text{
    color: #FF5400;
}
.btn-prime{
    background: #FF5400;
    border-radius: 8px;
    padding: 10px 25px;
    color: #FFF;
    height: 52px;
}

/* header styles */
.header-zero{
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
/* .nav-one{
    width: 1170px;
    /* justify-content: space-between;
    margin: 0 auto;
    /* display: flex; */ 

.tittle-nav{
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: normal;
    font: font-family: 'Mulish', sans-serif;
}
.logo{
    padding-left: 0px;
}

.ul-one{
    display: flex;
}
.ul-one li {

    margin-right: 45px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    
}
.ul-one{
    list-style: none;

}
.header-div{
    display: flex;
}

/* 2nd Feiled Starts */
.banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 0 auto;
}

.exp-with-para{
    color: #FFF;
    font-family: Mulish;
    text-align: center;
}
.exp-text{
    padding-top: 13%;
    font-size: 2.3rem;
    font-weight: 800;
}
.first-para{
    font-size: 0.8rem;
    padding-left: 20%;
    font-weight: 400;
    max-width: 600px;
    text-align: center;
    color: #FFF;
}
.first-feild{
    padding-left: 30%;
    display: flex;
    gap: 15px;
    
    height: 52px;
    flex-shrink: 0;

}
.where-text{
    width: 90px;
    color: #FFF;
    border-radius: 8px;
}
.when-text{
    width: 10%;
    border-radius: 8px;
}
.select-s{
    border-radius: 8px;
}
/* section one starts */
.sec1{
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    padding: 20px 035px 235px 0px ;
    width: 1170px;
    height: 350px;
    
    
}
.mountain{
    height: 550px;   
}
.sec2-text-container{
    /*border: 6px solid saddlebrown; */
    width: 1000px;
    height: 540px;
    padding-left: 9px;

}
.our-text{
    font-size: 37px;
    font-weight: 800;
}
.sec-para{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800px;
    line-height: 26px; /* 162.5% */
    margin-top: 5%;
}
.sec-two-ul{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 5%;
}
.btn-2{
    margin-top:3%;
}
/* third img sec starts */

.part3{
    /* border: 2px solid blue;  */
    margin: 0 auto;
    width: 1190px;
    height: 1350px;
   margin-bottom: 00px;
   /* margin-left: 15%; */
}
.universal-text3{
    /* border: 2px solid blue; */ */
    margin: 0 auto;
    padding: 20px 035px 235px 0px ;
    width: 1150px;
    height: 50px;
    margin-bottom: 30px;
}
.des-3{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.des-3p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.first-row{

    display: flex;
    /* border: 2px solid green; */
    height: 320px;

}

.part1-img{
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.part2-img{
    margin-left: 25px;
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.secound-row{
    display: flex;
    /* border: 2px solid blue;  */
    height: 320px;

}

.part3-img{
    margin-left: 0px;
    padding-top: 7%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;

}
.part4-img{
    margin-left: 25px;
    padding-top: 7%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 470px;
    height: 286px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.part5-img{
    margin-left: 23px;
    padding-top: 7%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 286px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.third-row{
    display: flex;
    /* border: 2px solid green;  */
    height: 320px;
}
.part6-img{
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.part7-img{
    margin-left: 25px;
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
/* 4th part strats from here */
.part-4{

    /* border: 2px solid red; */
    margin: 0 auto;
    padding: 20px 035px 235px 0px ;
    width: 1155px;
    height: 650px;
   /* margin-left: 15%; */
   margin-bottom: 20px;
}
.Choose{
    padding: 0px 0px;
    margin: auto;
  }
  .choose-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px; 
    font-weight: 800;

  }
  .para-4{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 643px;
    justify-content: center;
    padding: 0px 300px;
    padding-top: 10px;

 }


 .card-1{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    gap: 30px;
    
    /* width: 1820px; */
    justify-content: center;
    margin-left: 40px;
   
  
  
    
  }
  .card-2{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
  
  }
 
 
  
  .title-4{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 24px 0px;
  }
  .describe-4{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
   
  }
  .end-4{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  
  }
  .cards{
      border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
      width: 573px;
      height: 284px;
    
      padding-right: 95px;
      display: block;
      align-items: center;
      justify-content: center;
  }


/* 5th part strats from here */
.deals{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.disc{
    padding-left: 40px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.part-5{
/* 
    border: 5px solid olivedrab; */
    margin: 0 auto;
    padding: 20px 035px 235px 0px ;
    width: 1170px;
    height: 1600px;



}
.background1{
     background-image: url('../Images/Group\ 39.png'); 
     background-repeat: no-repeat;
    margin-left: 10px;
    width: 1180px;
    height: 500px;
    margin-bottom: 3%;
}

.layout{
    border-radius: 16px;
    border: 5px solid goldenrod;
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.80);
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    position: relative;
    left: 45%;
    top: 10%;

}
.layout-1{
    padding: 50px;
}


.background2{
    background-image: url('../Images/Group\ 40.png'); 
    background-repeat: no-repeat;
   margin-left: 10px;
   width: 1180px;
   height: 500px;
   margin-bottom: 3%;
}

.layout2{
    border-radius: 16px;
    border: 5px solid goldenrod;
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.80);
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    position: relative;
    left: 10%;
    top: 7%;
}
.layout-2{
    padding: 50px;
}

.background3{
    background-image: url('../Images/Group\ 40.png'); 
    background-repeat: no-repeat;
   margin-left: 10px;
   width: 1180px;
   height: 500px;
   margin-bottom: 3%;
}

.layout3{
    border-radius: 16px;
    border: 5px solid goldenrod;
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.80);
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    position: relative;
    left: 45%;
    top: 7%;
}
.layout-3{
    padding: 50px;
}
.btn-4{
    margin-left: 45%;
}

/* section 6 starts */
.sec6{
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    padding: 0px 35px 235px 0px ;
    width: 1170px;
    height: 350px;
    padding-top: 1px;
    
}
.sec3text-container{
    margin-top: -70px;

}
.mountain6{
    margin-top: -70px;
    width: 610px;
    height: 524px;
    
}

.simple-text{
    
    color: #131318;
    font-size: 55px;
    font-weight: 900;
    padding-top: 10%;
    
}
.para6{
    width: 577px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sec-three-ul{
    width: 518px;
    color: #131318;
    
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.btn-6{
    margin-top:3%;
    padding: 0px 40px;
}
.watch6{
    color: #FFF;
    position: relative;
    top: 80%;
    font-size: 34px;
    text-align: center;
    font-weight: 700;
}
/* sec 7 starts form here */
.sec-7{
    /* border: 2px solid blue;  */
    margin: 0 auto;
    display: flex;
    padding: 20px 350px 235px 0px ;
    width: 850px;
    height: 270px;
    padding-bottom: 10%;
    gap: 20px;
}
.text-container7{
    margin-left: 30px;
    border-radius: 16px;
    border: 5px solid goldenrod;
    background: rgba(255, 255, 255, 0.80);
    width: 444px;
    height:420px;
    flex-shrink: 0;
}

.news{
    padding-left: 10%;
    color: #131318;
    font-size: 27px;
    font-weight: 800;
}
.get{
    padding-left: 10%;
    width: 532px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.name-input{
    margin-left: 10%;
    padding: 20px 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 7%;
}
.email-input{
    margin-left: 10%;
    padding: 20px 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 7%;
}
.btn-7{
    margin-left: 10%;
    padding: 30px 100px;
    border-radius: 8px; 
}
.img-container7{
    margin-top: 10px;
    
}
.save{
     padding-top: 30px;
    padding-left: 50px; 
    font-size: 32px;
    color: #FFF;
    background-color: #FF5400;
    border-radius: 16px;
    width: 230px;
    height: 100px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
}
.rotate{
    position:relative;
    left: 54%;
    bottom: 85%;
}
.travel-txt{
    font-size: 12px;
    color: #FFF;
}
/* footer section styles */
footer {
    /* border: 3px solid saddlebrown; */
    background: rgba(19, 19, 24, 0.05);
    padding: 130px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 980px;
    height: 270px;
    margin: 0 auto;
  
  }
  
  
  
  .foot-info{
    color: black;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    justify-content: center;
    text-align: center;
  }
  
  
  
  footer hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 45px 0;
    
  }
  
  .logos{
    margin: 0 auto;
  }
  
  .logos img {
    width: 60px;
    margin-left: 22px;
  }
  .icon-p-div{
    margin-left: 40%;
    justify-self: center;
    display:flex;
}

  
.kk-txt{
    
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
    line-height: normal;
    font-family:  'Mulish', sans-serif;
    
 
}
.para-last{
    margin-left: 50px;
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.logo{
    width: 48px;
height: 56.008px;
flex-shrink: 0;
padding-right: 20px;


}
.text{
    color: #ff2a00;
}

@media only screen and (max-width: 600px) {
    .ul-one{
       background-color:#ff2a00;
       display: none;
       
     }
   }
    
   @media only screen and (max-width: 600px) {
    .nav-one{
       width: 375px;
       
     }
     .banner{
        width: 335px;
        height: 483px;
        
     }
     .first-para{
        margin-left: 5%;
        padding-right: 20%;
     }
     .exp-with-para{
        align-items: center;
     }
     .first-feild{
        display:contents;
     }
     .select-s{
        gap: 20px;
     }
     .when-text{
        width: 21%;
        /* margin-left: 7%; */
        margin-top: 20%;
     }
     .btn-prime{
          margin-left: 40%;
          margin-top: 10%;

     }
     .where-text{
         margin-left: 10%;
     }
     .exp-text{
        padding-top: 25%;
     }
   }
   @media only screen and (max-width: 600px){
    .sec-para{
        width: 335px;
        height: 50px;
    }
    .sec-two-ul{
        width: 300px;
        height: 210px;
    } 
    .sec1{
        display: inline-block;
    }
    .sec2-img-container{
        max-width: 200px;
    }
    .mountain{
        margin-top: 30%;
        width: 370px;
    }
   }
   @media only screen and (max-width: 600px){
     .universal-text3{
        width: 375px;
        height: 3%;
     }
     .first-row{
        display: inline-block;
     }
     .part1-img{
        width: 360px;
        height: 145px;
        margin-bottom: 5%;
     }
     .part2-img{
        margin-left: 0%;
        width: 360px;
        height: 145px;
     }
     .secound-row{
        display:list-item;
        
     }
     .part3-img{
         margin-top: 6%;
        margin-bottom: 0%;
        padding-bottom: -7%;
    
     }
     .part4-img{
        margin-left: 0px;
        margin-top: -5%;
        margin-right: 50px;
        width: 370px;
        
      
     }
     .part5-img{
        margin-top: -5%;
        margin-left: 60px;
        width: 335px;
        /* height: 176px; */
        
     }
     .third-row{
        margin-top: 56%;
        display: inline-table;
        
        
     }
     .part6-img{
        width: 365px;
     }
     .part7-img{
        width: 365px;
        margin-left: 0px;
     }
     .part3{
        margin-bottom: 270%;
     }
    }

    @media only screen and (max-width: 600px){
        .para-4{
            margin-left: 0%;
           
        }
       .choose-title{
          margin-right: 67%;
       }
       .para-4{
           /* background-color:aquamarine; */
           padding-left: 70px;
           width: 220px;
       }
       .card-1{
        display: list-item;
        width: 320px;
        gap: 10px;
       }
       .card-2{
        margin-top: 10px;
       }


       .boxes{
         height: 300%;
       }
       .end-4{
        margin-bottom: 30%;
       }
       .cards{
        display: inline;
        margin-right: 65%;
        width: 250px;
       }
    }

    @media only screen and (max-width: 600px){
        .part-5{
            margin-top: 130%;
            width: 320px;
        }
        .background1{
            width: 335px;
            height: 500px;
        }
        .layout{
         
            width: 303px;
            height: 297px;
            left: 3%; 
        }
        .background2{
            width: 335px;
            height: 500px;
        }
        .layout2{
         
            width: 303px;
            height: 297px;
            left: 3%; 
        }
        .background3{
            width: 335px;
            height: 500px;
        }
        .layout3{
         
            width: 303px;
            height: 297px;
            left: 3%; 
        }
    }

    @media only screen and (max-width: 600px){
        .sec6{
            display: list-item;
            padding-bottom: 270%;
            height: 1px;
           
        }
        .sec3text-container{
            width: 375px;
            height: 600px;
        }
        .mountain6{
            width: 375px;
            height: 200px;
        }
        .sec-7{
            display:inline;
        }
    }
    
    @media only screen and (max-width: 600px){
        .sec6{
           
            top: 30%;
        
        }
        .text-container7{
            margin-left: 1px;
            width: 330px;
        }
       .btn-7{
         margin-left: 10%;
       }
       .get{
        width: 270px;
       }
        .lpic{
            width: 335px;
            height: 300px;
        }
        .rotate{
            display: none;
        }
        footer{
            top:30%;
            width: 170px;
            height: 470px;
        }
        .icon-p-div{
            margin-top: 70%;
            margin-right: 90%;
        }
        .icon-p-div{
            margin-left: 7%;
        }
        .para-last{
            width: 187px;
            margin-right: 2%;
           
        }
    }